*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d7ceb8;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: rgb(241, 5, 5);
    cursor: pointer;
    background-color: #ffffff;
}

.btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(247, 4, 4);
    border-radius: 1rem;
    font-weight: 800;
}

.hide{
    display: none;
}

.winner{
    padding-bottom: 5vmin;
}